$purple: #30107D;
$purple-secondary: #401A9B;
$bg: #F1F5F8;
$card: #ffffff;
$green: #06D6A2;
$green-secondary: #06D7A5;
$red: #DB3766;
$red-secondary: #E23161;
$muted: #B9B9B9;
$gray: #484F55;
$gray-secondary: #4E5555;
$gray-tertiary: #4C5A5A;
$gray-light:#e4e4e4;

// Utilitários
$radius: 8px;

// Fontes
$font-primary: var(--font-poppins), 'Poppins', sans-serif;
$font-secondary: var(--font-roboto), 'Roboto', sans-serif;

$font-size-base: 1rem;
$line-height-base: 1.5;