@use './variables' as *;
@use './typography' as *;


*{box-sizing:border-box}
html,body,#root{height:100%}
body{
  margin:0;
  font-family: $font-secondary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background: $bg;
  color: #111827;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
a{color:inherit}
button{cursor:pointer}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin: 0;
}

.container{
  max-width:1280;
  margin:0 auto;
  padding:24px;
}
